C#/MalvaradoSoft/MalvaradoSoft/Connected Services/MAlvaradoWS/DBControllerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.malvaradosoft.inf.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DBControllerWS" targetNamespace="http://services.malvaradosoft.inf.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MalvaradoSoftWebGF/DBControllerWS?xsd=1" namespace="http://services.malvaradosoft.inf.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser" />
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="queryAllCourseSchedulesPorIDTeacher">
    <part name="parameters" element="tns:queryAllCourseSchedulesPorIDTeacher" />
  </message>
  <message name="queryAllCourseSchedulesPorIDTeacherResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesPorIDTeacherResponse" />
  </message>
  <message name="queryAllStudentXYearIfTicketEnrollementIsFull">
    <part name="parameters" element="tns:queryAllStudentXYearIfTicketEnrollementIsFull" />
  </message>
  <message name="queryAllStudentXYearIfTicketEnrollementIsFullResponse">
    <part name="parameters" element="tns:queryAllStudentXYearIfTicketEnrollementIsFullResponse" />
  </message>
  <message name="queryAllCourseScheduleByClassSection">
    <part name="parameters" element="tns:queryAllCourseScheduleByClassSection" />
  </message>
  <message name="queryAllCourseScheduleByClassSectionResponse">
    <part name="parameters" element="tns:queryAllCourseScheduleByClassSectionResponse" />
  </message>
  <message name="updateCourseSchedule">
    <part name="parameters" element="tns:updateCourseSchedule" />
  </message>
  <message name="updateCourseScheduleResponse">
    <part name="parameters" element="tns:updateCourseScheduleResponse" />
  </message>
  <message name="queryAllBimesterXStudentXYear">
    <part name="parameters" element="tns:queryAllBimesterXStudentXYear" />
  </message>
  <message name="queryAllBimesterXStudentXYearResponse">
    <part name="parameters" element="tns:queryAllBimesterXStudentXYearResponse" />
  </message>
  <message name="queryAllStudentsByGuardianID">
    <part name="parameters" element="tns:queryAllStudentsByGuardianID" />
  </message>
  <message name="queryAllStudentsByGuardianIDResponse">
    <part name="parameters" element="tns:queryAllStudentsByGuardianIDResponse" />
  </message>
  <message name="queryAllUsersByIdUserType">
    <part name="parameters" element="tns:queryAllUsersByIdUserType" />
  </message>
  <message name="queryAllUsersByIdUserTypeResponse">
    <part name="parameters" element="tns:queryAllUsersByIdUserTypeResponse" />
  </message>
  <message name="queryAllGradesByIDCourse">
    <part name="parameters" element="tns:queryAllGradesByIDCourse" />
  </message>
  <message name="queryAllGradesByIDCourseResponse">
    <part name="parameters" element="tns:queryAllGradesByIDCourseResponse" />
  </message>
  <message name="queryBlockTimebyID">
    <part name="parameters" element="tns:queryBlockTimebyID" />
  </message>
  <message name="queryBlockTimebyIDResponse">
    <part name="parameters" element="tns:queryBlockTimebyIDResponse" />
  </message>
  <message name="queryAllCourseByLevel">
    <part name="parameters" element="tns:queryAllCourseByLevel" />
  </message>
  <message name="queryAllCourseByLevelResponse">
    <part name="parameters" element="tns:queryAllCourseByLevelResponse" />
  </message>
  <message name="updateGradeXStudent">
    <part name="parameters" element="tns:updateGradeXStudent" />
  </message>
  <message name="updateGradeXStudentResponse">
    <part name="parameters" element="tns:updateGradeXStudentResponse" />
  </message>
  <message name="queryAllB">
    <part name="parameters" element="tns:queryAllB" />
  </message>
  <message name="queryAllBResponse">
    <part name="parameters" element="tns:queryAllBResponse" />
  </message>
  <message name="queryAllEventsByCourseSchedule">
    <part name="parameters" element="tns:queryAllEventsByCourseSchedule" />
  </message>
  <message name="queryAllEventsByCourseScheduleResponse">
    <part name="parameters" element="tns:queryAllEventsByCourseScheduleResponse" />
  </message>
  <message name="queryAllClassSectionByLevel">
    <part name="parameters" element="tns:queryAllClassSectionByLevel" />
  </message>
  <message name="queryAllClassSectionByLevelResponse">
    <part name="parameters" element="tns:queryAllClassSectionByLevelResponse" />
  </message>
  <message name="queryAllTypesXUser">
    <part name="parameters" element="tns:queryAllTypesXUser" />
  </message>
  <message name="queryAllTypesXUserResponse">
    <part name="parameters" element="tns:queryAllTypesXUserResponse" />
  </message>
  <message name="queryBlockTimebyUserName">
    <part name="parameters" element="tns:queryBlockTimebyUserName" />
  </message>
  <message name="queryBlockTimebyUserNameResponse">
    <part name="parameters" element="tns:queryBlockTimebyUserNameResponse" />
  </message>
  <message name="queryGradesSearchByName">
    <part name="parameters" element="tns:queryGradesSearchByName" />
  </message>
  <message name="queryGradesSearchByNameResponse">
    <part name="parameters" element="tns:queryGradesSearchByNameResponse" />
  </message>
  <message name="queryGradesByCourseId">
    <part name="parameters" element="tns:queryGradesByCourseId" />
  </message>
  <message name="queryGradesByCourseIdResponse">
    <part name="parameters" element="tns:queryGradesByCourseIdResponse" />
  </message>
  <message name="updatePasswordUser">
    <part name="parameters" element="tns:updatePasswordUser" />
  </message>
  <message name="updatePasswordUserResponse">
    <part name="parameters" element="tns:updatePasswordUserResponse" />
  </message>
  <message name="insertStudentXYear">
    <part name="parameters" element="tns:insertStudentXYear" />
  </message>
  <message name="insertStudentXYearResponse">
    <part name="parameters" element="tns:insertStudentXYearResponse" />
  </message>
  <message name="queryAllCourseSchedulesByTeacherId">
    <part name="parameters" element="tns:queryAllCourseSchedulesByTeacherId" />
  </message>
  <message name="queryAllCourseSchedulesByTeacherIdResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesByTeacherIdResponse" />
  </message>
  <message name="queryAllCourseSchedules">
    <part name="parameters" element="tns:queryAllCourseSchedules" />
  </message>
  <message name="queryAllCourseSchedulesResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesResponse" />
  </message>
  <message name="insertStudent">
    <part name="parameters" element="tns:insertStudent" />
  </message>
  <message name="insertStudentResponse">
    <part name="parameters" element="tns:insertStudentResponse" />
  </message>
  <message name="deleteGRade">
    <part name="parameters" element="tns:deleteGRade" />
  </message>
  <message name="deleteGRadeResponse">
    <part name="parameters" element="tns:deleteGRadeResponse" />
  </message>
  <message name="updateBlockTime">
    <part name="parameters" element="tns:updateBlockTime" />
  </message>
  <message name="updateBlockTimeResponse">
    <part name="parameters" element="tns:updateBlockTimeResponse" />
  </message>
  <message name="insertEvent">
    <part name="parameters" element="tns:insertEvent" />
  </message>
  <message name="insertEventResponse">
    <part name="parameters" element="tns:insertEventResponse" />
  </message>
  <message name="deleteEvent">
    <part name="parameters" element="tns:deleteEvent" />
  </message>
  <message name="deleteEventResponse">
    <part name="parameters" element="tns:deleteEventResponse" />
  </message>
  <message name="insertCourse">
    <part name="parameters" element="tns:insertCourse" />
  </message>
  <message name="insertCourseResponse">
    <part name="parameters" element="tns:insertCourseResponse" />
  </message>
  <message name="queryAllGrades">
    <part name="parameters" element="tns:queryAllGrades" />
  </message>
  <message name="queryAllGradesResponse">
    <part name="parameters" element="tns:queryAllGradesResponse" />
  </message>
  <message name="validarUserLogin">
    <part name="parameters" element="tns:validarUserLogin" />
  </message>
  <message name="validarUserLoginResponse">
    <part name="parameters" element="tns:validarUserLoginResponse" />
  </message>
  <message name="deleteCourse">
    <part name="parameters" element="tns:deleteCourse" />
  </message>
  <message name="deleteCourseResponse">
    <part name="parameters" element="tns:deleteCourseResponse" />
  </message>
  <message name="queryAllCourses">
    <part name="parameters" element="tns:queryAllCourses" />
  </message>
  <message name="queryAllCoursesResponse">
    <part name="parameters" element="tns:queryAllCoursesResponse" />
  </message>
  <message name="queryAllY">
    <part name="parameters" element="tns:queryAllY" />
  </message>
  <message name="queryAllYResponse">
    <part name="parameters" element="tns:queryAllYResponse" />
  </message>
  <message name="deleteStudent">
    <part name="parameters" element="tns:deleteStudent" />
  </message>
  <message name="deleteStudentResponse">
    <part name="parameters" element="tns:deleteStudentResponse" />
  </message>
  <message name="updateGRade">
    <part name="parameters" element="tns:updateGRade" />
  </message>
  <message name="updateGRadeResponse">
    <part name="parameters" element="tns:updateGRadeResponse" />
  </message>
  <message name="updateStudent">
    <part name="parameters" element="tns:updateStudent" />
  </message>
  <message name="updateStudentResponse">
    <part name="parameters" element="tns:updateStudentResponse" />
  </message>
  <message name="updateCourse">
    <part name="parameters" element="tns:updateCourse" />
  </message>
  <message name="updateCourseResponse">
    <part name="parameters" element="tns:updateCourseResponse" />
  </message>
  <message name="updateEvent">
    <part name="parameters" element="tns:updateEvent" />
  </message>
  <message name="updateEventResponse">
    <part name="parameters" element="tns:updateEventResponse" />
  </message>
  <message name="insertGRade">
    <part name="parameters" element="tns:insertGRade" />
  </message>
  <message name="insertGRadeResponse">
    <part name="parameters" element="tns:insertGRadeResponse" />
  </message>
  <message name="queryUserByID">
    <part name="parameters" element="tns:queryUserByID" />
  </message>
  <message name="queryUserByIDResponse">
    <part name="parameters" element="tns:queryUserByIDResponse" />
  </message>
  <portType name="DBControllerWS">
    <operation name="updateUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateUserRequest" message="tns:updateUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateUserResponse" message="tns:updateUserResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateUser/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllCourseSchedulesPorIDTeacher">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesPorIDTeacherRequest" message="tns:queryAllCourseSchedulesPorIDTeacher" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesPorIDTeacherResponse" message="tns:queryAllCourseSchedulesPorIDTeacherResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesPorIDTeacher/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllStudentXYearIfTicketEnrollementIsFull">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllStudentXYearIfTicketEnrollementIsFullRequest" message="tns:queryAllStudentXYearIfTicketEnrollementIsFull" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllStudentXYearIfTicketEnrollementIsFullResponse" message="tns:queryAllStudentXYearIfTicketEnrollementIsFullResponse" />
    </operation>
    <operation name="queryAllCourseScheduleByClassSection">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseScheduleByClassSectionRequest" message="tns:queryAllCourseScheduleByClassSection" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseScheduleByClassSectionResponse" message="tns:queryAllCourseScheduleByClassSectionResponse" />
    </operation>
    <operation name="updateCourseSchedule">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateCourseScheduleRequest" message="tns:updateCourseSchedule" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateCourseScheduleResponse" message="tns:updateCourseScheduleResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateCourseSchedule/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllBimesterXStudentXYear">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesterXStudentXYearRequest" message="tns:queryAllBimesterXStudentXYear" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesterXStudentXYearResponse" message="tns:queryAllBimesterXStudentXYearResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesterXStudentXYear/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllStudentsByGuardianID">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllStudentsByGuardianIDRequest" message="tns:queryAllStudentsByGuardianID" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllStudentsByGuardianIDResponse" message="tns:queryAllStudentsByGuardianIDResponse" />
    </operation>
    <operation name="queryAllUsersByIdUserType">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllUsersByIdUserTypeRequest" message="tns:queryAllUsersByIdUserType" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllUsersByIdUserTypeResponse" message="tns:queryAllUsersByIdUserTypeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllUsersByIdUserType/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllGradesByIDCourse">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesByIDCourseRequest" message="tns:queryAllGradesByIDCourse" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesByIDCourseResponse" message="tns:queryAllGradesByIDCourseResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesByIDCourse/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryBlockTimebyID">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyIDRequest" message="tns:queryBlockTimebyID" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyIDResponse" message="tns:queryBlockTimebyIDResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyID/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllCourseByLevel">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseByLevelRequest" message="tns:queryAllCourseByLevel" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseByLevelResponse" message="tns:queryAllCourseByLevelResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseByLevel/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updateGradeXStudent">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGradeXStudentRequest" message="tns:updateGradeXStudent" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGradeXStudentResponse" message="tns:updateGradeXStudentResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGradeXStudent/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllB">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBRequest" message="tns:queryAllB" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBResponse" message="tns:queryAllBResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllB/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllEventsByCourseSchedule">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllEventsByCourseScheduleRequest" message="tns:queryAllEventsByCourseSchedule" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllEventsByCourseScheduleResponse" message="tns:queryAllEventsByCourseScheduleResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllEventsByCourseSchedule/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllClassSectionByLevel">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllClassSectionByLevelRequest" message="tns:queryAllClassSectionByLevel" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllClassSectionByLevelResponse" message="tns:queryAllClassSectionByLevelResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllClassSectionByLevel/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllTypesXUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXUserRequest" message="tns:queryAllTypesXUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXUserResponse" message="tns:queryAllTypesXUserResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXUser/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryBlockTimebyUserName">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyUserNameRequest" message="tns:queryBlockTimebyUserName" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyUserNameResponse" message="tns:queryBlockTimebyUserNameResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyUserName/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryGradesSearchByName">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByNameRequest" message="tns:queryGradesSearchByName" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByNameResponse" message="tns:queryGradesSearchByNameResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByName/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryGradesByCourseId">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseIdRequest" message="tns:queryGradesByCourseId" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseIdResponse" message="tns:queryGradesByCourseIdResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updatePasswordUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUserRequest" message="tns:updatePasswordUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUserResponse" message="tns:updatePasswordUserResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUser/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertStudentXYear">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertStudentXYearRequest" message="tns:insertStudentXYear" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertStudentXYearResponse" message="tns:insertStudentXYearResponse" />
    </operation>
    <operation name="queryAllCourseSchedulesByTeacherId">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherIdRequest" message="tns:queryAllCourseSchedulesByTeacherId" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherIdResponse" message="tns:queryAllCourseSchedulesByTeacherIdResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllCourseSchedules">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesRequest" message="tns:queryAllCourseSchedules" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesResponse" message="tns:queryAllCourseSchedulesResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedules/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertStudent">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertStudentRequest" message="tns:insertStudent" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertStudentResponse" message="tns:insertStudentResponse" />
    </operation>
    <operation name="deleteGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRadeRequest" message="tns:deleteGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRadeResponse" message="tns:deleteGRadeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRade/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updateBlockTime">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateBlockTimeRequest" message="tns:updateBlockTime" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateBlockTimeResponse" message="tns:updateBlockTimeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateBlockTime/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertEvent">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertEventRequest" message="tns:insertEvent" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertEventResponse" message="tns:insertEventResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertEvent/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="deleteEvent">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteEventRequest" message="tns:deleteEvent" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteEventResponse" message="tns:deleteEventResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteEvent/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertCourse">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertCourseRequest" message="tns:insertCourse" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertCourseResponse" message="tns:insertCourseResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertCourse/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllGrades">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesRequest" message="tns:queryAllGrades" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesResponse" message="tns:queryAllGradesResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGrades/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="validarUserLogin">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/validarUserLoginRequest" message="tns:validarUserLogin" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/validarUserLoginResponse" message="tns:validarUserLoginResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/validarUserLogin/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="deleteCourse">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteCourseRequest" message="tns:deleteCourse" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteCourseResponse" message="tns:deleteCourseResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteCourse/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllCourses">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCoursesRequest" message="tns:queryAllCourses" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCoursesResponse" message="tns:queryAllCoursesResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourses/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllY">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllYRequest" message="tns:queryAllY" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllYResponse" message="tns:queryAllYResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllY/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="deleteStudent">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteStudentRequest" message="tns:deleteStudent" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteStudentResponse" message="tns:deleteStudentResponse" />
    </operation>
    <operation name="updateGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRadeRequest" message="tns:updateGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRadeResponse" message="tns:updateGRadeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRade/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updateStudent">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateStudentRequest" message="tns:updateStudent" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateStudentResponse" message="tns:updateStudentResponse" />
    </operation>
    <operation name="updateCourse">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateCourseRequest" message="tns:updateCourse" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateCourseResponse" message="tns:updateCourseResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateCourse/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updateEvent">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateEventRequest" message="tns:updateEvent" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateEventResponse" message="tns:updateEventResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateEvent/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRadeRequest" message="tns:insertGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRadeResponse" message="tns:insertGRadeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRade/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryUserByID">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserByIDRequest" message="tns:queryUserByID" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserByIDResponse" message="tns:queryUserByIDResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserByID/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="DBControllerWSPortBinding" type="tns:DBControllerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="updateUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllCourseSchedulesPorIDTeacher">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllStudentXYearIfTicketEnrollementIsFull">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourseScheduleByClassSection">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateCourseSchedule">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllBimesterXStudentXYear">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllStudentsByGuardianID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllUsersByIdUserType">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllGradesByIDCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryBlockTimebyID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllCourseByLevel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updateGradeXStudent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllB">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllEventsByCourseSchedule">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllClassSectionByLevel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllTypesXUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryBlockTimebyUserName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryGradesSearchByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryGradesByCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updatePasswordUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertStudentXYear">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourseSchedulesByTeacherId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllCourseSchedules">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertStudent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updateBlockTime">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertEvent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="deleteEvent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllGrades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="validarUserLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="deleteCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllCourses">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllY">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="deleteStudent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updateStudent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updateEvent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryUserByID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="DBControllerWS">
    <port name="DBControllerWSPort" binding="tns:DBControllerWSPortBinding">
      <soap:address location="http://localhost:8080/MalvaradoSoftWebGF/DBControllerWS" />
    </port>
  </service>
</definitions>