C#/MalvaradoSoft/MalvaradoSoft/Connected Services/MAlvaradoWS/DBControllerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.malvaradosoft.inf.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DBControllerWS" targetNamespace="http://services.malvaradosoft.inf.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.201.59:8080/MalvaradoSoftWebGF/DBControllerWS?xsd=1" namespace="http://services.malvaradosoft.inf.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="updateGradeXStudent">
    <part name="parameters" element="tns:updateGradeXStudent" />
  </message>
  <message name="updateGradeXStudentResponse">
    <part name="parameters" element="tns:updateGradeXStudentResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="queryAllGradesByIDCourse">
    <part name="parameters" element="tns:queryAllGradesByIDCourse" />
  </message>
  <message name="queryAllGradesByIDCourseResponse">
    <part name="parameters" element="tns:queryAllGradesByIDCourseResponse" />
  </message>
  <message name="queryGradesByCourseId">
    <part name="parameters" element="tns:queryGradesByCourseId" />
  </message>
  <message name="queryGradesByCourseIdResponse">
    <part name="parameters" element="tns:queryGradesByCourseIdResponse" />
  </message>
  <message name="queryAllTypesXUser">
    <part name="parameters" element="tns:queryAllTypesXUser" />
  </message>
  <message name="queryAllTypesXUserResponse">
    <part name="parameters" element="tns:queryAllTypesXUserResponse" />
  </message>
  <message name="queryBlockTimebyID">
    <part name="parameters" element="tns:queryBlockTimebyID" />
  </message>
  <message name="queryBlockTimebyIDResponse">
    <part name="parameters" element="tns:queryBlockTimebyIDResponse" />
  </message>
  <message name="queryAllBimesterXStudentXYear">
    <part name="parameters" element="tns:queryAllBimesterXStudentXYear" />
  </message>
  <message name="queryAllBimesterXStudentXYearResponse">
    <part name="parameters" element="tns:queryAllBimesterXStudentXYearResponse" />
  </message>
  <message name="queryAllStudentsByGuardianID">
    <part name="parameters" element="tns:queryAllStudentsByGuardianID" />
  </message>
  <message name="queryAllStudentsByGuardianIDResponse">
    <part name="parameters" element="tns:queryAllStudentsByGuardianIDResponse" />
  </message>
  <message name="queryAllCourseSchedulesByTeacherId">
    <part name="parameters" element="tns:queryAllCourseSchedulesByTeacherId" />
  </message>
  <message name="queryAllCourseSchedulesByTeacherIdResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesByTeacherIdResponse" />
  </message>
  <message name="queryAllCourseSchedules">
    <part name="parameters" element="tns:queryAllCourseSchedules" />
  </message>
  <message name="queryAllCourseSchedulesResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesResponse" />
  </message>
  <message name="queryBlockTimebyUserName">
    <part name="parameters" element="tns:queryBlockTimebyUserName" />
  </message>
  <message name="queryBlockTimebyUserNameResponse">
    <part name="parameters" element="tns:queryBlockTimebyUserNameResponse" />
  </message>
  <message name="queryAllB">
    <part name="parameters" element="tns:queryAllB" />
  </message>
  <message name="queryAllBResponse">
    <part name="parameters" element="tns:queryAllBResponse" />
  </message>
  <message name="queryGradesSearchByName">
    <part name="parameters" element="tns:queryGradesSearchByName" />
  </message>
  <message name="queryGradesSearchByNameResponse">
    <part name="parameters" element="tns:queryGradesSearchByNameResponse" />
  </message>
  <message name="updatePasswordUser">
    <part name="parameters" element="tns:updatePasswordUser" />
  </message>
  <message name="updatePasswordUserResponse">
    <part name="parameters" element="tns:updatePasswordUserResponse" />
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser" />
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse" />
  </message>
  <message name="queryAllCourseSchedulesPorIDTeacher">
    <part name="parameters" element="tns:queryAllCourseSchedulesPorIDTeacher" />
  </message>
  <message name="queryAllCourseSchedulesPorIDTeacherResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesPorIDTeacherResponse" />
  </message>
  <message name="queryUserByID">
    <part name="parameters" element="tns:queryUserByID" />
  </message>
  <message name="queryUserByIDResponse">
    <part name="parameters" element="tns:queryUserByIDResponse" />
  </message>
  <message name="queryAllGrades">
    <part name="parameters" element="tns:queryAllGrades" />
  </message>
  <message name="queryAllGradesResponse">
    <part name="parameters" element="tns:queryAllGradesResponse" />
  </message>
  <message name="queryAllY">
    <part name="parameters" element="tns:queryAllY" />
  </message>
  <message name="queryAllYResponse">
    <part name="parameters" element="tns:queryAllYResponse" />
  </message>
  <message name="deleteGRade">
    <part name="parameters" element="tns:deleteGRade" />
  </message>
  <message name="deleteGRadeResponse">
    <part name="parameters" element="tns:deleteGRadeResponse" />
  </message>
  <message name="updateGRade">
    <part name="parameters" element="tns:updateGRade" />
  </message>
  <message name="updateGRadeResponse">
    <part name="parameters" element="tns:updateGRadeResponse" />
  </message>
  <message name="queryAllCourses">
    <part name="parameters" element="tns:queryAllCourses" />
  </message>
  <message name="queryAllCoursesResponse">
    <part name="parameters" element="tns:queryAllCoursesResponse" />
  </message>
  <message name="validarUserLogin">
    <part name="parameters" element="tns:validarUserLogin" />
  </message>
  <message name="validarUserLoginResponse">
    <part name="parameters" element="tns:validarUserLoginResponse" />
  </message>
  <message name="updateBlockTime">
    <part name="parameters" element="tns:updateBlockTime" />
  </message>
  <message name="updateBlockTimeResponse">
    <part name="parameters" element="tns:updateBlockTimeResponse" />
  </message>
  <message name="insertGRade">
    <part name="parameters" element="tns:insertGRade" />
  </message>
  <message name="insertGRadeResponse">
    <part name="parameters" element="tns:insertGRadeResponse" />
  </message>
  <portType name="DBControllerWS">
    <operation name="updateGradeXStudent">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGradeXStudentRequest" message="tns:updateGradeXStudent" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGradeXStudentResponse" message="tns:updateGradeXStudentResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGradeXStudent/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllGradesByIDCourse">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesByIDCourseRequest" message="tns:queryAllGradesByIDCourse" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesByIDCourseResponse" message="tns:queryAllGradesByIDCourseResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesByIDCourse/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryGradesByCourseId">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseIdRequest" message="tns:queryGradesByCourseId" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseIdResponse" message="tns:queryGradesByCourseIdResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllTypesXUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXUserRequest" message="tns:queryAllTypesXUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXUserResponse" message="tns:queryAllTypesXUserResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXUser/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryBlockTimebyID">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyIDRequest" message="tns:queryBlockTimebyID" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyIDResponse" message="tns:queryBlockTimebyIDResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyID/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllBimesterXStudentXYear">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesterXStudentXYearRequest" message="tns:queryAllBimesterXStudentXYear" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesterXStudentXYearResponse" message="tns:queryAllBimesterXStudentXYearResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesterXStudentXYear/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllStudentsByGuardianID">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllStudentsByGuardianIDRequest" message="tns:queryAllStudentsByGuardianID" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllStudentsByGuardianIDResponse" message="tns:queryAllStudentsByGuardianIDResponse" />
    </operation>
    <operation name="queryAllCourseSchedulesByTeacherId">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherIdRequest" message="tns:queryAllCourseSchedulesByTeacherId" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherIdResponse" message="tns:queryAllCourseSchedulesByTeacherIdResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllCourseSchedules">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesRequest" message="tns:queryAllCourseSchedules" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesResponse" message="tns:queryAllCourseSchedulesResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedules/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryBlockTimebyUserName">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyUserNameRequest" message="tns:queryBlockTimebyUserName" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyUserNameResponse" message="tns:queryBlockTimebyUserNameResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryBlockTimebyUserName/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllB">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBRequest" message="tns:queryAllB" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBResponse" message="tns:queryAllBResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllB/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryGradesSearchByName">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByNameRequest" message="tns:queryGradesSearchByName" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByNameResponse" message="tns:queryGradesSearchByNameResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByName/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updatePasswordUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUserRequest" message="tns:updatePasswordUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUserResponse" message="tns:updatePasswordUserResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUser/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updateUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateUserRequest" message="tns:updateUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateUserResponse" message="tns:updateUserResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateUser/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllCourseSchedulesPorIDTeacher">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesPorIDTeacherRequest" message="tns:queryAllCourseSchedulesPorIDTeacher" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesPorIDTeacherResponse" message="tns:queryAllCourseSchedulesPorIDTeacherResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesPorIDTeacher/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryUserByID">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserByIDRequest" message="tns:queryUserByID" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserByIDResponse" message="tns:queryUserByIDResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserByID/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllGrades">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesRequest" message="tns:queryAllGrades" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesResponse" message="tns:queryAllGradesResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGrades/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllY">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllYRequest" message="tns:queryAllY" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllYResponse" message="tns:queryAllYResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllY/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="deleteGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRadeRequest" message="tns:deleteGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRadeResponse" message="tns:deleteGRadeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRade/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updateGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRadeRequest" message="tns:updateGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRadeResponse" message="tns:updateGRadeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRade/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="queryAllCourses">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCoursesRequest" message="tns:queryAllCourses" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCoursesResponse" message="tns:queryAllCoursesResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourses/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="validarUserLogin">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/validarUserLoginRequest" message="tns:validarUserLogin" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/validarUserLoginResponse" message="tns:validarUserLoginResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/validarUserLogin/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updateBlockTime">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateBlockTimeRequest" message="tns:updateBlockTime" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateBlockTimeResponse" message="tns:updateBlockTimeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateBlockTime/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRadeRequest" message="tns:insertGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRadeResponse" message="tns:insertGRadeResponse" />
      <fault wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRade/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="DBControllerWSPortBinding" type="tns:DBControllerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="updateGradeXStudent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllGradesByIDCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryGradesByCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllTypesXUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryBlockTimebyID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllBimesterXStudentXYear">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllStudentsByGuardianID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourseSchedulesByTeacherId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllCourseSchedules">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryBlockTimebyUserName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllB">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryGradesSearchByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updatePasswordUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllCourseSchedulesPorIDTeacher">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryUserByID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllGrades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllY">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="deleteGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updateGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="queryAllCourses">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="validarUserLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updateBlockTime">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="DBControllerWS">
    <port name="DBControllerWSPort" binding="tns:DBControllerWSPortBinding">
      <soap:address location="http://192.168.201.59:8080/MalvaradoSoftWebGF/DBControllerWS" />
    </port>
  </service>
</definitions>