C#/MalvaradoSoft/MalvaradoSoft/Connected Services/MAlvaradoWS/DBControllerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.malvaradosoft.inf.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DBControllerWS" targetNamespace="http://services.malvaradosoft.inf.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MalvaradoSoftWebGF/DBControllerWS?xsd=1" namespace="http://services.malvaradosoft.inf.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="queryAllCourseSchedulesPorIDTeacher">
    <part name="parameters" element="tns:queryAllCourseSchedulesPorIDTeacher" />
  </message>
  <message name="queryAllCourseSchedulesPorIDTeacherResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesPorIDTeacherResponse" />
  </message>
  <message name="queryAllBimesterXStudentXYear">
    <part name="parameters" element="tns:queryAllBimesterXStudentXYear" />
  </message>
  <message name="queryAllBimesterXStudentXYearResponse">
    <part name="parameters" element="tns:queryAllBimesterXStudentXYearResponse" />
  </message>
  <message name="queryAllGradesByIDCourse">
    <part name="parameters" element="tns:queryAllGradesByIDCourse" />
  </message>
  <message name="queryAllGradesByIDCourseResponse">
    <part name="parameters" element="tns:queryAllGradesByIDCourseResponse" />
  </message>
  <message name="queryAllTypesXUser">
    <part name="parameters" element="tns:queryAllTypesXUser" />
  </message>
  <message name="queryAllTypesXUserResponse">
    <part name="parameters" element="tns:queryAllTypesXUserResponse" />
  </message>
  <message name="queryAllCourseSchedulesByTeacherId">
    <part name="parameters" element="tns:queryAllCourseSchedulesByTeacherId" />
  </message>
  <message name="queryAllCourseSchedulesByTeacherIdResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesByTeacherIdResponse" />
  </message>
  <message name="queryAllCourseSchedules">
    <part name="parameters" element="tns:queryAllCourseSchedules" />
  </message>
  <message name="queryAllCourseSchedulesResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesResponse" />
  </message>
  <message name="queryGradesByCourseId">
    <part name="parameters" element="tns:queryGradesByCourseId" />
  </message>
  <message name="queryGradesByCourseIdResponse">
    <part name="parameters" element="tns:queryGradesByCourseIdResponse" />
  </message>
  <message name="queryGradesSearchByName">
    <part name="parameters" element="tns:queryGradesSearchByName" />
  </message>
  <message name="queryGradesSearchByNameResponse">
    <part name="parameters" element="tns:queryGradesSearchByNameResponse" />
  </message>
  <message name="updatePasswordUser">
    <part name="parameters" element="tns:updatePasswordUser" />
  </message>
  <message name="updatePasswordUserResponse">
    <part name="parameters" element="tns:updatePasswordUserResponse" />
  </message>
  <message name="queryAllBimesters_">
    <part name="parameters" element="tns:queryAllBimesters_" />
  </message>
  <message name="queryAllBimesters_Response">
    <part name="parameters" element="tns:queryAllBimesters_Response" />
  </message>
  <message name="queryAllGrades">
    <part name="parameters" element="tns:queryAllGrades" />
  </message>
  <message name="queryAllGradesResponse">
    <part name="parameters" element="tns:queryAllGradesResponse" />
  </message>
  <message name="queryAllCourses">
    <part name="parameters" element="tns:queryAllCourses" />
  </message>
  <message name="queryAllCoursesResponse">
    <part name="parameters" element="tns:queryAllCoursesResponse" />
  </message>
  <message name="deleteGRade">
    <part name="parameters" element="tns:deleteGRade" />
  </message>
  <message name="deleteGRadeResponse">
    <part name="parameters" element="tns:deleteGRadeResponse" />
  </message>
  <message name="queryAllYears_">
    <part name="parameters" element="tns:queryAllYears_" />
  </message>
  <message name="queryAllYears_Response">
    <part name="parameters" element="tns:queryAllYears_Response" />
  </message>
  <message name="insertGRade">
    <part name="parameters" element="tns:insertGRade" />
  </message>
  <message name="insertGRadeResponse">
    <part name="parameters" element="tns:insertGRadeResponse" />
  </message>
  <message name="updateGRade">
    <part name="parameters" element="tns:updateGRade" />
  </message>
  <message name="updateGRadeResponse">
    <part name="parameters" element="tns:updateGRadeResponse" />
  </message>
  <message name="queryUserByID">
    <part name="parameters" element="tns:queryUserByID" />
  </message>
  <message name="queryUserByIDResponse">
    <part name="parameters" element="tns:queryUserByIDResponse" />
  </message>
  <message name="validarUserLogin">
    <part name="parameters" element="tns:validarUserLogin" />
  </message>
  <message name="validarUserLoginResponse">
    <part name="parameters" element="tns:validarUserLoginResponse" />
  </message>
  <portType name="DBControllerWS">
    <operation name="queryAllCourseSchedulesPorIDTeacher">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesPorIDTeacherRequest" message="tns:queryAllCourseSchedulesPorIDTeacher" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesPorIDTeacherResponse" message="tns:queryAllCourseSchedulesPorIDTeacherResponse" />
    </operation>
    <operation name="queryAllBimesterXStudentXYear">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesterXStudentXYearRequest" message="tns:queryAllBimesterXStudentXYear" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesterXStudentXYearResponse" message="tns:queryAllBimesterXStudentXYearResponse" />
    </operation>
    <operation name="queryAllGradesByIDCourse">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesByIDCourseRequest" message="tns:queryAllGradesByIDCourse" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesByIDCourseResponse" message="tns:queryAllGradesByIDCourseResponse" />
    </operation>
    <operation name="queryAllTypesXUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXUserRequest" message="tns:queryAllTypesXUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXUserResponse" message="tns:queryAllTypesXUserResponse" />
    </operation>
    <operation name="queryAllCourseSchedulesByTeacherId">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherIdRequest" message="tns:queryAllCourseSchedulesByTeacherId" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherIdResponse" message="tns:queryAllCourseSchedulesByTeacherIdResponse" />
    </operation>
    <operation name="queryAllCourseSchedules">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesRequest" message="tns:queryAllCourseSchedules" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesResponse" message="tns:queryAllCourseSchedulesResponse" />
    </operation>
    <operation name="queryGradesByCourseId">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseIdRequest" message="tns:queryGradesByCourseId" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseIdResponse" message="tns:queryGradesByCourseIdResponse" />
    </operation>
    <operation name="queryGradesSearchByName">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByNameRequest" message="tns:queryGradesSearchByName" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByNameResponse" message="tns:queryGradesSearchByNameResponse" />
    </operation>
    <operation name="updatePasswordUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUserRequest" message="tns:updatePasswordUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUserResponse" message="tns:updatePasswordUserResponse" />
    </operation>
    <operation name="queryAllBimesters_">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesters_Request" message="tns:queryAllBimesters_" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllBimesters_Response" message="tns:queryAllBimesters_Response" />
    </operation>
    <operation name="queryAllGrades">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesRequest" message="tns:queryAllGrades" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesResponse" message="tns:queryAllGradesResponse" />
    </operation>
    <operation name="queryAllCourses">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCoursesRequest" message="tns:queryAllCourses" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCoursesResponse" message="tns:queryAllCoursesResponse" />
    </operation>
    <operation name="deleteGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRadeRequest" message="tns:deleteGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRadeResponse" message="tns:deleteGRadeResponse" />
    </operation>
    <operation name="queryAllYears_">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllYears_Request" message="tns:queryAllYears_" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllYears_Response" message="tns:queryAllYears_Response" />
    </operation>
    <operation name="insertGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRadeRequest" message="tns:insertGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRadeResponse" message="tns:insertGRadeResponse" />
    </operation>
    <operation name="updateGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRadeRequest" message="tns:updateGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRadeResponse" message="tns:updateGRadeResponse" />
    </operation>
    <operation name="queryUserByID">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserByIDRequest" message="tns:queryUserByID" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserByIDResponse" message="tns:queryUserByIDResponse" />
    </operation>
    <operation name="validarUserLogin">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/validarUserLoginRequest" message="tns:validarUserLogin" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/validarUserLoginResponse" message="tns:validarUserLoginResponse" />
    </operation>
  </portType>
  <binding name="DBControllerWSPortBinding" type="tns:DBControllerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="queryAllCourseSchedulesPorIDTeacher">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllBimesterXStudentXYear">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllGradesByIDCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllTypesXUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourseSchedulesByTeacherId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourseSchedules">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryGradesByCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryGradesSearchByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updatePasswordUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllBimesters_">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllGrades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourses">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllYears_">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryUserByID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validarUserLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DBControllerWS">
    <port name="DBControllerWSPort" binding="tns:DBControllerWSPortBinding">
      <soap:address location="http://localhost:8080/MalvaradoSoftWebGF/DBControllerWS" />
    </port>
  </service>
</definitions>